@import "app/scss/_var.scss";
@import "app/scss/_global";
@import "app/scss/_fonts.scss";

// start header
.header {
}
.header__top {
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	height: 90px;
	align-items: center;
}

.header__text {
	margin-left: auto;
	margin-right: 50px;
	span {
		color: $red;
	}
}
.header__phone {
}
.header__box {
}
.header__circle {
	width: 34px;
	height: 34px;
	background-color: #f5f5f5;
	border-radius: 50%;
	& + .header__circle {
		margin-left: 15px;
	}
}
.notification {
}
.message {
}
.basket {
}
.user {
}
.header__btn {
	padding: 4px;
	width: 72px;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 24px;
}

.header__btn-login {
	background-color: $green;
}
.header__btn-register {
	background-color: $red;
	margin-left: 7px;
}
.header__menu {
	background-color: $bg;
}
.menu {
	display: flex;
	align-items: center;
	height: 60px;
}
.menu__list {
	li {
		display: inline-block;
		& + li {
			margin-left: 35px;
		}
	}
	a {
		color: #fff;
		line-height: 30px;
	}
}
// end header

// start search
.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 532px;
}

.search__inner {
	padding: 150px 0 120px;
	color: #fff;
	text-align: center;
	&-title {
		font-size: 48px;
		@include f700;
		margin-bottom: 15px;
		line-height: 60px;
	}
	&-text {
		font-size: 20px;

		@include f500;
		margin-bottom: 54px;
		line-height: 25px;
	}
	&-form {
		max-width: 670px;
		margin: 0 auto;
		position: relative;
		input {
			display: block;
			width: 100%;
			box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
			border-radius: 4px;
			height: 56px;
			border: none;
			@include f500;
			padding-left: 25px;
			padding-right: 60px;
			&::placeholder {
				color: #90a4ae;
			}
		}
		button {
			position: absolute;
			border: none;
			background-color: transparent;
			right: 20px;
			top: 18px;
		}
	}
}
//end search

//start products
.products {
	padding: 120px 0 110px;
	background-color: $grey;
}
.container-fluid {
}
.products__title {
}
.products__inner {
}
.products__inner-btn {
	text-align: center;
	margin-bottom: 60px;

	button {
		padding: 12px 21px;
		border: none;
		color: $bg;
		background-color: #fff;
		cursor: pointer;
		border-radius: 4px;
		& + button {
			margin-left: 6px;
		}
		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}
.products__inner-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product__item {
	max-width: 442px;
	box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
	width: 100%;
	margin-bottom: 30px;
	&-img {
		min-height: 250px;
		background-repeat: no-repeat;
		display: block;
		background-position: center;
		background-size: cover;
	}
	&-content {
		display: flex;
		justify-content: space-between;
		padding: 10px 32px;
		align-items: center;
		min-height: 90px;
		@include f500;
		border-bottom: 1px solid #e7ecf2;
	}
	&-name {
		max-width: 310px;
	}
	&-title {
		color: $bg;
		@include f500;
		font-size: 18px;
		display: block;
	}
	&-category {
		font-size: 14px;
		display: block;
		color: $green;
	}
	&-price {
		font-size: 20px;
		color: $bg;
		@include f700;
	}
	&-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		padding: 10px 30px;
	}
	&-author {
		display: flex;
		align-items: center;
		max-width: 245px;
		.avatar {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			@include f500;
			background-position: center;
			display: inline-block;
			background-repeat: no-repeat;
			background-size: cover;
			margin-right: 13px;
		}
		span {
			@include f500;
		}
	}
	&-star {
		color: #b0bec5;
		font-size: 12px;
		span {
			color: $bg;
		}
	}
}

.products__bottom-btn {
	text-align: center;
	button {
		margin: 45px 5px 0;
		box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
		border: none;
		background-color: #fff;
		color: $bg;
		font-size: 16px;
		padding: 20px 32px;
		cursor: pointer;
		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}

// end products

// start product-slider
.product-slider {
	padding: 120px 0;
	.slick-dots {
		text-align: center;
		margin-top: 55px;
		li {
			display: inline-block;
			margin-right: 4px;
			margin-left: 4px;
			&.slick-active {
				button {
					background-color: $green;
				}
			}
			button {
				font-size: 0;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				border: none;
				background-color: #e8e8e8;
				cursor: pointer;
				outline: none;
			}
		}
	}
}
// end product-slider

// start advantages
.advantages {
	background-color: $bg;
	padding: 120px 0;
}

.advantages__title {
	color: #fff;
}

.advantages__inner {
	display: flex;
	justify-content: space-between;
}
.advantages__item {
	max-width: 320px;
	text-align: center;
	padding: 0 15px;

	&:hover {
		.advantages__item-images {
			background-color: $green;
			g {
				fill: #fff;
			}
		}
		.advantages__item-title {
			color: $green;
		}
	}
	&-images {
		background-color: #fff;
		width: 113px;
		height: 113px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto 30px;
		transition: all 0.3s;
	}
	&-title {
		margin-bottom: 25px;
		font-size: 24px;
		color: #fff;
		@include f500;
		transition: all 0.3s;
	}
	&-text {
		font-size: 15px;
		color: #b0bec5;
	}
}
// end advantages

// start author
.author {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 760px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__box {
		max-width: 650px;
		width: 100%;
		min-height: 215px;
		display: flex;
		align-items: center;
		background-color: $green;
		justify-content: center;
		border-radius: 5px;
	}
	&__title {
		font-size: 30px;
		line-height: 36px;
		color: #fff;
		margin-right: 48px;
		max-width: 262px;
		span {
			@include f700;
		}
	}
	&__link {
		font-size: 18px;
		line-height: 36px;
		padding: 14px 40px;
		background-color: #fff;
		border-radius: 4px;
	}
}
// end author

// start tutorials
.tutorials {
	padding: 66px 0 160px;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		max-width: 370px;
		width: 100%;
	}
}

.tutorials__item {
	&-images {
		min-height: 270px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&-title {
		font-size: 24px;
		@include f700;
		text-align: center;
		background-color: #f8f8f8;
		padding: 39px 10px;
		color: $bg;
	}
}
// end tutorials

// start footer
.footer {
	background-color: $bg;
	&__inner {
		padding: 110px 0 100px;
		display: flex;
		justify-content: space-between;
	}
}

.footer__col {
	max-width: 265px;
	width: 100%;
	&-menu {
		max-width: 220px;
	}
	&-title {
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		font-size: 22px;
		color: #fff;
		padding-bottom: 23px;
		margin-bottom: 32px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 2px;
			width: 51px;
			height: 3px;
			background-color: $green;
		}
	}
	&-text {
		color: #b7c3c8;
		font-size: 15px;
		margin-bottom: 35px;
	}
}

.footer__info {
	margin-top: 18px;
	color: #fff;
	@include f700;
	padding-left: 30px;
	position: relative;
	&::before {
		content: "\f041";
		font-family: "icomoon";
		color: $green;
		font-size: 18px;
		position: absolute;
		left: 0;
	}
}

.footer__info-phone {
	&::before {
		content: "\f095";
	}
}
.footer__col-list {
	a {
		margin-bottom: 12px;
		color: #b7c3c8;
		padding-left: 22px;
		position: relative;
		&::before {
			content: "\f105";
			font-size: 18px;
			font-family: "icomoon";
			position: absolute;
			left: 0;
			color: $green;
		}
	}
}
.footer__social-link {
	margin-bottom: 33px;
	li {
		display: inline-block;
		& + li {
			margin-left: 7px;
		}
	}
	a {
		width: 28px;
		height: 28px;
		background-image: url(../images/content/css_sprites.png);
	}
}

.link-twitter {
	background-position: -28px 0;
}
.link-youtube {
	background-position: 0 -28px;
}
.link-pinterest {
	background-position: -28px -28px;
}
.link-linkedin {
	background-position: -56px 0;
}

.footer__form {
	position: relative;
	input {
		background-color: #2f3c43;
		border: none;
		display: block;
		width: 100%;
		height: 40px;
		color: #fff;
		padding-left: 13px;
		padding-right: 50px;
		&::placeholder {
			color: #697378;
		}
	}
	button {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: $green;
		border: none;
		height: 40px;
		width: 43px;
		cursor: pointer;
		&::before {
			content: "\f124";
			position: absolute;
			font-size: 20px;
			font-family: "icomoon";
			color: #fff;
			top: 10px;
			right: 14px;
		}
	}
}
.footer__form-title {
	color: #ffffff;
	font-size: 20px;
	line-height: 36px;
}
.footer__copy {
	border-top: 1px solid #424d53;
}
.footer__copy-text {
	text-align: center;
	font-size: 15px;
	color: #919699;
	padding: 27px 0 32px;
}
// end footer
