@import "app/scss/_var.scss";
@import "app/scss/_global";
@import "app/scss/_fonts.scss";

// start header
.header {
}
.header__top {
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	height: 90px;
	align-items: center;
}

.header__text {
	margin-left: auto;
	margin-right: 50px;
	span {
		color: $red;
	}
}
.header__phone {
}
.header__box {
}
.basket {
}
.header__btn {
	padding: 4px;
	width: 72px;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 24px;
}

.header__btn-login {
	background-color: $green;
}
.header__btn-register {
	background-color: $red;
	margin-left: 7px;
}
.header__menu {
	background-color: $bg;
}
.menu {
	display: flex;
	align-items: center;
	height: 60px;
}
.menu__list {
	li {
		display: inline-block;
		& + li {
			margin-left: 35px;
		}
	}
	a {
		color: #fff;
		line-height: 30px;
	}
}
// end header

// start search
.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 532px;
}

.search__inner {
	padding: 150px 0 120px;
	color: #fff;
	text-align: center;
	&-title {
		font-size: 48px;
		font-weight: 700;
		margin-bottom: 15px;
		line-height: 60px;
	}
	&-text {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 54px;
		line-height: 25px;
	}
	&-form {
		max-width: 670px;
		margin: 0 auto;
		position: relative;
		input {
			display: block;
			width: 100%;
			box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
			border-radius: 4px;
			height: 56px;
			border: none;
			font-weight: 500;
			padding-left: 25px;
			padding-right: 60px;
			&::placeholder {
				color: #90a4ae;
			}
		}
		button {
			position: absolute;
			border: none;
			background-color: transparent;
			right: 20px;
			top: 18px;
		}
	}
}
//end search

//start products
.products {
	padding: 120px 0 110px;
	background-color: $grey;
}
.container-fluid {
}
.products__title {
}
.products__inner {
}
.products__inner-btn {
	text-align: center;
	margin-bottom: 60px;

	button {
		padding: 12px 21px;
		border: none;
		color: $bg;
		background-color: #fff;
		cursor: pointer;
		border-radius: 4px;
		& + button {
			margin-left: 6px;
		}
		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}
.products__inner-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product__item {
	max-width: 442px;
	box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
	width: 100%;
	margin-bottom: 30px;
	&-img {
		min-height: 250px;
		background-repeat: no-repeat;
		display: block;
		background-position: center;
		background-size: cover;
	}
	&-content {
		display: flex;
		justify-content: space-between;
		padding: 10px 32px;
		align-items: center;
		min-height: 90px;
		font-weight: 500;
		border-bottom: 1px solid #e7ecf2;
	}
	&-name {
		max-width: 310px;
	}
	&-title {
		color: $bg;
		font-weight: 500;
		font-size: 18px;
		display: block;
	}
	&-category {
		font-size: 14px;
		display: block;
		color: $green;
	}
	&-price {
		font-size: 20px;
		color: $bg;
		font-weight: 700;
	}
	&-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		padding: 10px 30px;
	}
	&-author {
		display: flex;
		align-items: center;
		max-width: 245px;
		.avatar {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			font-weight: 500;
			background-position: center;
			display: inline-block;
			background-repeat: no-repeat;
			background-size: cover;
			margin-right: 13px;
		}
		span {
			font-weight: 500;
		}
	}
	&-star {
		color: #b0bec5;
		font-size: 12px;
		span {
			color: $bg;
		}
	}
}

.products__bottom-btn {
	text-align: center;
	button {
		margin: 45px 5px 0;
		box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
		border: none;
		background-color: #fff;
		color: $bg;
		font-size: 16px;
		padding: 20px 32px;
		cursor: pointer;
		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}

// end products

// start product-slider
.product-slider {
	padding: 120px 0;
	.slick-dots {
		text-align: center;
		margin-top: 55px;
		li {
			display: inline-block;
			margin-right: 4px;
			margin-left: 4px;
			&.slick-active {
				button {
					background-color: $green;
				}
			}
			button {
				font-size: 0;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				border: none;
				background-color: #e8e8e8;
				cursor: pointer;
				outline: none;
			}
		}
	}
}

// end product-slider
